@model RealEstate.Models.PropertyViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">@Model.Property.Name</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="@Model.ImageUrl" alt="">
                <!-- Portfolio Modal - Text -->
                <p>
                    Number of bathrooms: @Model.Property.NumberOfBathrooms<br />
                    Number of bedrooms: @Model.Property.NumberOfBedrooms<br />
                    <b>Price: @Model.Property.Price</b>
                </p>
                <p class="mb-5">
                    @Model.Property.Description
                </p>
            </div>
        </div>
    </div>
</div>